In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from statistics import mean

# Archive #7

In [ ]:
df = pd.read_csv("archive_7.csv")
df

## Ikea Data Frame

In [ ]:
ikea_cat = ['item_id', 'name', 'category', 'price', 'old_price', 'sellable_online', 'link', 'other_colors', 'short_description', 'designer', 'depth', 'height', 'width']
ikea_df = df[ikea_cat]
ikea_df = ikea_df.dropna(subset=['link'])

In [ ]:
ikea_df.head()

#### Schema Model

In [ ]:
ikea_df.columns

Column names: item_id, name, category, price, old_price, sellable_online, link, other_colors, short_description, designer, depth, height, width

In [ ]:
ikea_df.info()

In [ ]:
# Convert Object to String

def objectToString(df, col):
    df[col] = df[col].astype('string')

In [ ]:
str_cols = ['name', 'category', 'old_price', 'sellable_online', 'link', 'other_colors', 'short_description', 'designer']
for col in str_cols:
    objectToString(ikea_df, col)

ikea_df.info()

Our Ikea Data Frame is split between float64 types for numerical values and string types for descriptors

#### Sample Queries

Average Prices and Sizes for each Furniture Category

In [ ]:
ikea_df.drop(columns=['item_id']).groupby('category').mean(numeric_only=True)

Ikea URLs for each item, let's expand our size to get the full link

Some of these have functional product pages while others not

In [ ]:
def print_full(x):
    pd.set_option('display.max_colwidth', len(x))
    print(x)
    pd.reset_option('display.max_colwidth')

In [ ]:
print_full(ikea_df.link)

## Pokemon Data Frame

In [ ]:
pokemon_cat = ['Pokemon', 'Card Type', 'Generation', 'Card Number', 'Price']
pokemon_df = df[pokemon_cat]
pokemon_df = pokemon_df.dropna()

In [ ]:
pokemon_df.head(15)

#### Schema Model

In [ ]:
pokemon_df.columns

Column names: Pokemon, Card Type, Generation, Card Number, Price

In [ ]:
pokemon_df.info()

In [ ]:
str_cols = ['Pokemon', 'Card Type', 'Generation', 'Card Number']
for col in str_cols:
    objectToString(pokemon_df, col)
pokemon_df.info()

#### Sample Queries

Pokemon Cards with a price greater than $2.50

In [ ]:
pokemon_df[pokemon_df['Price'] > 2.50]

The reverse holocards in our dataset

In [ ]:
pokemon_df[pokemon_df['Card Type'] == 'REVERSE HOLO']

# Books Data Frame

In [ ]:
books_cat = ["ranks","title","no_of_reviews","ratings","author","cover_type","year","genre"]
book_df = df[books_cat]
book_df = book_df.dropna(subset=["author"])

In [ ]:
book_df

#### Schema model

In [ ]:
book_df.columns

#### Sample Queries

In [ ]:
query_one = book_df.loc[ ( (book_df['genre'] == 'Fiction') & (book_df['ratings'] > 4.0) ) & (book_df['cover_type'] == 'Paperback') ]
query_one

In [ ]:
query_two = book_df.loc[(book_df['author'].str.len() > 25) & (book_df["ranks"] % 2 == 0) ]
query_two

In [ ]:
food_cat = ['price', 'date', 'product', 'market', 'size']
food_df = df[food_cat]
food_df = food_df.dropna()

In [ ]:
food_df

In [ ]:
food_df.info

# Query One, food that is from Orgil, costs over 2,000 and is made of yogurt

In [ ]:
query_one = food_df.loc[ ( (food_df['market'] == 'Orgil') & (food_df['price'] > 2000) ) & (food_df['product'] == 'Yogurt')  ]
query_one

# Query Two, food that is from Bumbugur and costs less than 1,500

In [ ]:
query_two = food_df.loc[ ( (food_df['market'] == 'Bumbugur') & (food_df['price'] < 1500) ) ]
query_two